@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}
body{
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}
a{text-decoration:none;}
a:hover{text-decoration:none !important}

.text-orange {
    color: #f08544;
}


nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  
}
nav {
    background-image: linear-gradient(to right top, #1f5bce, #2367de, #2872ee, #256ae2, #2976f4);
	padding:30px;
	
}
nav .wrapper{
  position: relative;
  padding: 0px 0px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.nav-links {
    margin: 0px;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
      margin-left: 80px;
}

.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  padding: 10px 23px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .butn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .butn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .butn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .butn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .butn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
 
  
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}










.btons {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0px 0px;
}
.buton {
    border: solid 2px #e2e2e2;
    border-radius: 46px;
    padding: 14px 26px;
    color: #fff;
    font-size: 16px;
}
.buton:hover {
    border: solid 2px #ef7f3c;
    color: #ef7f3c;
	text-decoration:none;
}
.butons {
    border: solid 2px #ef7f3c;
    border-radius: 46px;
    padding: 14px 26px;
    color: #fff;
    font-size: 16px;
    background: #ef7f3c;
}
.butons:hover {
    border: solid 2px #fff;
    color: #fff;
	background:transparent
}
.btons a {
    margin-right: 20px;
}







		
		
		


.share-market p {
    font-size: 15px;
    font-weight: 400;
    color: #1c1c1c;;
	margin-top: 18px;
	    padding: 0px 29% 0px 0px;
}
	}
.share-market h2{
	color:#535c6d;
	
	}
.share-market{
	padding-top:19%;
}


.heading{
font-size: 32px;
    font-weight: 800;
    color: #2c2c2c;
}	


.button1 {
    padding: 15px 30px;
    margin-bottom: 25px;
    margin-top: 15px;
    background: #ef7f3c;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 17px;
    font-weight: 700
}
.button1:hover {
    padding: 15px 30px;
    margin-bottom: 25px;
    margin-top: 15px;
    background: #2366dd;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 17px;
    font-weight: 700
}
.form h2{
	    font-size: 20px;
    font-weight: 600;
    color: #3a3a3a;
}
.form p{
	font-size: 15px;
    font-weight: 500;
    color: #424344;
}
.form-template{
	 background-image: linear-gradient(to right top, #1f5bce, #2367de, #2872ee, #256ae2, #2976f4);
    border-radius: 50px;
    padding: 12% 12% 10% 12%;
}
.form-template h2{
	font-size: 23px;
    color: white;
	font-weight:600;
}
.form-template  p{
	    font-size: 15px;
    color: white;
    padding: 15px 22% 0px 0%;
}
.email-form{
	margin-top:3%;
}
.footer-template{
	    padding: 2% 0;
    background: #2366dd;
    margin-top: 2%;
}
.buton-key{
	 border: solid 2px #ef7f3c;
    border-radius: 46px;
    padding: 14px 26px;
    color: #fff;
    font-size: 16px;
    background: #ef7f3c;
	    margin-top: 5%;
}
.buton-key:hover {
    border: solid 2px #fff;
    color: #fff;
	background:#2366dd;
}
	